<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>ITI Blogz</span>
  <span class="spacer"></span>
  <span class="search">
    <mat-form-field class="example-form-field">
      <input matInput type="text" [(ngModel)]="value" placeholder="Search">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </span>
  <span class="spacer"></span>
  <button mat-button>
    Login
    <mat-icon>login</mat-icon>
  </button>
  <button mat-button>
    Register
    <mat-icon>account_box</mat-icon>
  </button>
  <button mat-icon-button>
    <div mat-card-avatar class="user-avatar"></div>
  </button>
  <button mat-button>
    Logout
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
