<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">user profile pic</div>
    <mat-card-title>User name will be here</mat-card-title>
    <mat-card-subtitle>User email will be here</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Blog Body will go here!!!!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>COMMENT</button>
  </mat-card-actions>

</mat-card>
