<div class="container p-0">
  <div class="details-container container p-0 m-0 bg-danger">
    <div class="profile-image">
    </div>
    <div class="details col-12 text-center bg-warning m-0">
      <div class="details-text">username</div>
      <div class="details-text">fullname</div>
      <div class="details-text">email</div>
      <div class="details-text">date of birth</div>
    </div>
  </div>
  <div class="mt-2 blogs-container pt-2">
    <h1 class="text-center blogs-header">Blogs</h1>
    <app-blog-list></app-blog-list>
  </div>
</div>
