<div class="container p-0" @fade>
  <div class="details-container container p-0 m-0">
    <div class="profile-image">
    </div>
    <div class="details col-12 m-0">
      <div class="details-text text-center">AhmedNasr</div>
      <div class="actions" class="text-center">
        <button mat-button class="text-success">
          <mat-icon class="mr-0">article</mat-icon>
          Follow
        </button>
        <button mat-button color="warn">
          <mat-icon class="mr-0">cancel_presentation</mat-icon>
          Unfollow
        </button>
      </div>
      <div class="bio">
        <button mat-button color="accent" class="float-md-right edit">
          <mat-icon class="mr-0">create</mat-icon>
          Edit
        </button>
        <div class="bio-detail">
          <mat-icon color="primary">account_circle</mat-icon>
          <span>Ahmed Ali Nasr</span>
        </div>
        <div class="bio-detail">
          <mat-icon color="primary">email</mat-icon>
          <span>ahmed0alinasr@gmail.com</span>
        </div>
        <div class="bio-detail">
          <mat-icon color="primary">cake</mat-icon>
          <span>{{'1993/9/22' |date}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2 blogs-container pt-2">
    <h1 class="text-center blogs-header">AhmedNasr's Blogs</h1>
    <app-blog-list></app-blog-list>
  </div>
</div>
